body{
    padding: 0;
    margin: 0;
}

.menu-wrapper{
    min-width: 250px;
    float: left;
    height: 100vh;
    background: lightgray;
    border-right: 2px solid darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-wrapper form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
}

.menu-wrapper form > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

input[type=number]{
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    font-size: 1.3em;
}
input[type=text]{
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    font-size: 1.3em;
}
img{
    height: 100px;
    width: 100px;
    background-color: darkslategray;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    margin: 6px;
}

img:hover{
    transform: scale(1.05);
    position: relative;
    top: 2px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}

.deleted{
    display: none;
}
.unknown{
    display:block;
}