input[type=number]{
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    font-size: 1.3em;
}

.select-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}